* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #8899a6;
}
input,
button {
  outline: 0;
}
a {
  background: transparent;
  text-decoration: none !important;
}
a:hover {
  border-bottom: 2px solid #1c94e0;
  border-bottom-color: #19cf86;
  color: #19cf86 !important;
  transition: all 0.15s ease-in-out;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}
.content {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
}
body {
  background-color: #10171e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiase !important;
}
header#main-header {
  position: relative;
  z-index: 1;
  height: 46px;
  background: #1c2938;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header#main-header nav ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}
header#main-header nav ul i {
  font-size: 20px;
  color: #8899a6;
  margin-right: 7px;
}
header#main-header nav ul li {
  display: flex;
  font-size: 13px;
  color: #8899a6;
  align-items: center;
  margin-left: 30px;
}
header#main-header nav ul li:first-child {
  margin: 0;
}
header#main-header div.side {
  display: flex;
}
header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50px;
  margin: 0 15px;
}
header#main-header div.side button {
  height: 34px;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  background: #19ad76;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0px;
  border-radius: 16px;
}
header#main-header div.side input {
  width: 220px;
  background: #182430 url("../images/search.svg") no-repeat 190px;
  border-radius: 21px;
  border: 1px solid #38444d;
  padding: 0 30px 0 14px;
  font-size: 12px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
header#main-header div.side input:focus {
  border: 2px solid #19ad76;
}
.Icon--bird {
  color: #1da1f2;
  font-size: 20px;
}
div.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 100%;
  background: #38444d;
}
h1 {
  font-weight: 200;
  font-size: 40px;
}

div.bar {
  height: 59px;
  background: #15202b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
div.bar .content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 270px;
}
div.bar .content ul {
  list-style: none;
  display: flex;
}
div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
div.bar .content ul li span {
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong {
  font-size: 18px;
  font-weight: bold;
  margin-top; 12px;
}

div.bar .content .actions button {
  height: 34px;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  background-color: #15202b;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8899a6;
  border-radius: 16px;
  border-color: #B0B0B0
  color: #B0B0B0;
}